Email Inbox Assistant/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        22.17296383577559
      ],
      "id": "f7e5494f-628b-4e7b-9ef6-df52f00f7f51",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ISHL9oNzj5PPSS4J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.from.value[0].name }}",
        "attributes": {
          "attributes": [
            {
              "name": "SenderName",
              "description": "Extracting the sender name and if the name is not available then we will return an empty strings",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        224,
        16
      ],
      "id": "351cc76d-2796-401a-8775-6d985858ec9c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        296,
        246.1729638357756
      ],
      "id": "0b308427-82fc-4854-b1b8-cea613d41cb6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4AdgpSmtM5Uh1txO",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87a95f7b-235a-4c79-af14-fd9ccc69d997",
              "leftValue": "={{ $json.output.SenderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        22.17296383577559
      ],
      "id": "bd23e629-c223-4717-9739-442d331b2c6f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af6be170-c251-4241-84c2-a3f7a17c49a8",
              "name": "Introduction",
              "value": "=Dear {{ $json.output.SenderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -73.82703616422441
      ],
      "id": "a7fd2564-1090-45fd-997f-79ee222963f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "321eebb5-4340-4c7f-87c8-d0fd12373c21",
              "name": "Introduction",
              "value": "Hey,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        118.17296383577559
      ],
      "id": "b3af2606-ddfc-44ae-af9e-70ba508f6bff",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Introduction ",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        22.17296383577559
      ],
      "id": "67f12f60-2b3f-4845-b16e-582dc9ad12f4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90425dad-75da-43cb-a0a2-8289628a5532",
              "name": "Introduction",
              "value": "={{ $json.Introduction }}",
              "type": "string"
            },
            {
              "id": "72d4bfb9-8d6b-41aa-826f-fe8a70d181f8",
              "name": "emailBody",
              "value": "={{ $('Gmail Trigger').item.json.to.text }}",
              "type": "string"
            },
            {
              "id": "e228e6cc-2e7e-465a-bd64-dbe4097b97df",
              "name": "messageId",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "54caf45b-cdb5-4678-a7bd-87eb2d532cbb",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        32
      ],
      "id": "5af23240-eea9-40fc-881f-cbe47159778c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBody }}",
        "categories": {
          "categories": [
            {
              "category": "course details",
              "description": "this includes the email which is about the course details "
            },
            {
              "category": "education ",
              "description": "This includes the email about education"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1440,
        32
      ],
      "id": "99c55bdc-f0d0-47eb-a911-e1af34f8ba9d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        240
      ],
      "id": "6c1cc0ad-2654-4e26-95dc-0f12470b8f20",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4AdgpSmtM5Uh1txO",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields2').item.json.messageId }}",
        "labelIds": [
          "Label_1566631211023459611"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1856,
        -112
      ],
      "id": "86a4d42a-21d7-43cc-908a-21d345787065",
      "name": "Add label to message",
      "webhookId": "a524aaa7-426b-4deb-be93-7e8d5b6a9208",
      "credentials": {
        "gmailOAuth2": {
          "id": "ISHL9oNzj5PPSS4J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields2').item.json.messageId }}",
        "labelIds": [
          "Label_2829991288109994387"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        128
      ],
      "id": "9910aee0-c6ba-46c0-8e85-c789036c1c90",
      "name": "Add label to message1",
      "webhookId": "a524aaa7-426b-4deb-be93-7e8d5b6a9208",
      "credentials": {
        "gmailOAuth2": {
          "id": "ISHL9oNzj5PPSS4J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Edit Fields2').item.json.Introduction }}\n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nbest regards \ncee 00 0f w wallah ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        -112
      ],
      "id": "1e56d32f-2fba-43ae-93e8-8248d3408305",
      "name": "Reply to a message",
      "webhookId": "702b6fa9-3296-4011-884a-eb3b35bfdbc4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ISHL9oNzj5PPSS4J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Edit Fields2').item.json.Introduction }}\n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nThank you contacting us we are working to solve your problem as earlies as it is posssible to do and \n\nbest regards \ncee 00 0f w wallah ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2080,
        128
      ],
      "id": "566f1675-a763-4866-aec2-bcda0c81b51e",
      "name": "Reply to a message1",
      "webhookId": "702b6fa9-3296-4011-884a-eb3b35bfdbc4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ISHL9oNzj5PPSS4J",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7531e729-0c84-4d3f-a824-45fa32282884",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e19e07fcbd148289dad1ac6234f004f91a650916338312a9f4a1c06f9507290"
  },
  "id": "WG7COpMR9pnwy19M",
  "tags": []
}